<div>
<ul>
<% @questions.each do |question| %>
  <li>
    <a href="/questions/<%= question.id %>"><%= question.title%></a>
  </li>
<% end %>
</ul>

<div class="add-q-form">
<a class="add-question" href="/questions/new"><h3>Add your own question!</h3></a><br><br>
</div>

<center><img src="/images/q_mark.gif-c200"></center><br><br>
