<div>
<ul>
<% @questions.each do |question| %>
  <li>
    <a href="/questions/<%= question.id %>"><%= question.title%></a>
  </li>
<% end %>
</ul>

<a class="add-question" href="/questions/new"><h3>Add your own question!</h3></a>
</div>
