<form method="post" action="/comments">
  <input type="hidden" name="comment[commentable_type]" value="Question">
  <input type="hidden" name="comment[commentable_id]" value="<%= comment.id %>">
  <input type="hidden" name="comment[author_id]" value="<%=current_user.id %>">
  <textarea name="comment[text]" type="text"></textarea>
  <input type="submit" value="Say the thing">
</form>
