<h1>Add a new Question comment!</h1>

<% if @errors %>
  <ul>
    <% @errors.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form method="post" action="/comments">
  <input type="hidden" name="comment[commentable_type]" value="Question">
  <input type="hidden" name="comment[commentable_id]" value="<%= @commentable_thing.id %>">
  <input type="hidden" name="comment[author_id]" value="<%=current_user.id %>">
  <textarea name="comment[text]" type="text"></textarea>
  <input type="submit" value="Say the thing">
</form>
