<% if @errors %>
  <div class="errors-wrapper">
    <span>Something went wrong: Please try again.</span>
<% end %>


<form action="/session" method="post">
  <label for="email">Email</label>
  <input id="email" name="user[email]" type="text" value="<%= @user.try(:email)%>">

  <label for="password">Password</label>
  <input id="password" name="user[password]" type="password">

  <label for="status">status</label>
  <input id="status" name="user[status]" type="text" value="<%= @user.try(:status)%>">

  <input type="submit" value="Login">
</form>

