<% if @errors %>
  <div class="errors-wrapper">
    <span>Something went wrong: Please try again.</span>
<% end %>


<form id="sign-in" action="/session" method="post">
  <label for="email">E-Mail: </label>
  <input id="email" name="user[email]" type="text" value="<%= @user.try(:email)%>"><br>

  <label for="password">PassWord: </label>
  <input id="password" name="user[password]" type="password"><br>

  <label for="status">Status: </label>
  <input id="status" name="user[status]" type="text" value="<%= @user.try(:status)%>"><br>

  <input class="sign-in-button" type="submit" value="SIGN IN!">
</form>

