<% if @errors %>
  <div class="errors-wrapper">
    <span>Something went wrong:</span>
    <ul class="errors">
      <% @errors.each do |error| %>
        <li class="error"><%= error %></li>
      <% end %>
    </ul>
<% end %>
<br><br>  
<form id="registration" action="/users" method="post">
  <label for="new_username">Screen Name: </label>
  <input id="new_username" name="user[username]" type="text" value="<%= @user.try(:username)%>"><br>

  <label for="new_email">E-Mail: </label>
  <input id="new_email" name="user[email]" type="text" value="<%= @user.try(:email)%>"><br>

  <label for="new_password">PassWord: </label>
  <input id="new_password" name="user[password]" type="password"><br>

  <label for="new_status">Status: </label>
  <input id="new_status" name="user[status]" type="text" value="<%= @user.try(:status)%>"><br>

  <input id="sign-up-button" type="submit" value="Register">
</form>

<br><br>
<img src="/images/doge3.gif"><br><br>