<h1></h1>
<div class="answer-container">
<div class="answer">
  <p>
    <%= answer.text %>
  </p>
</div>

<div class="a-c-form">
  <form class="a-comment" method="GET" action="/comments/new">
    <input type="hidden" name="answer_id" value="<%= answer.id %>">
    <input type="hidden" name="type" value="Answer">
    <input type="submit" value="Comment!">
  </form>
</div>

<h2>Comments</h2>
<div class="comments">
  <ul>
    <% answer.comments.each do |comment| %>
    <li><%= comment.text %></li>
    <% end %>
  </ul>
</div>

<br><br>
<center><img src="/images/hulk.gif"></center><br><br>

