<div class="index-container">
<h2>Please login!</h2><br>


<% if @errors %>
  <% @errors.each do |error| %>
    <h3><%= error %></h3>
  <% end %>
<% end %>


<form action='/login' method='post'>
  <input type='text' name='email' placeholder='email'><br>
  <input type='password' name='password' placeholder='password'><br>
  <input class='submit-button' type='submit' name='login_button' value='login'>
</form>
</div>