<% if @errors %>
  <ol>
  <%@errors.each do |error|%>
  <li><%=error%></li>
  <%end%>
  </ol>
<%end%>

<h1>Create a new deck!</h1>
<form method='post' action='/decks'>
  <label for='theme_name'>Theme:</label>
  <input type='text' name='deck[theme_name]'>
  <br>
  <input type='submit' value='Create'>
</form>

