<h1><%=@deck.theme_name%></h1>

<ol class = "card-list">

<%@deck.cards.each do |card|%>
  <li><span style="color:green"> Q: <%=card.question%></span>
  <% if (@deck.creator == current_user)%> <span style="color:red">A: <%=card.answer%><span></li>
    <%end%>
  <%end%>

</ol>


